### [예제 1] Kaggle Titanic Data 읽기 예제
#### pandas.read_csv() 읽어올경우 데이터 타입 확인
#### pandas,read_csv().values 읽어올 경우 데이터타입 확인

In [1]:
import numpy as np
import pandas as pd

### pd.read_csv() 만 실행하면 DataFrame으로 리턴됨

In [2]:
# np.loadtxt() 사용하면 각 컬럼값들이 숫자만이 아닌 문자등이 포함되어 있기 때문에 error 발생
# 따라서 pandas 의 read_csv() 이용함
train_csv_data = pd.read_csv('./titanic_train.csv')
test_csv_data = pd.read_csv('./titanic_test.csv')
test_csv_sub = pd.read_csv('./titanic_gender_submission.csv')

print('train_csv_data.shape = ', train_csv_data.shape, ', type(train_csv_data) = ', type(train_csv_data))
print('test_csv_data.shape = ', test_csv_data.shape, ', type(test_csv_data) = ', type(test_csv_data))
print('test_csv_sub.shape = ', test_csv_sub.shape, ', type(test_csv_sub) = ', type(test_csv_sub))

#print(train_csv_data)
#print('\n',train_csv_data.loc[0])

train_csv_data.head(5)

train_csv_data.shape =  (891, 12) , type(train_csv_data) =  <class 'pandas.core.frame.DataFrame'>
test_csv_data.shape =  (418, 11) , type(test_csv_data) =  <class 'pandas.core.frame.DataFrame'>
test_csv_sub.shape =  (418, 2) , type(test_csv_sub) =  <class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### pd.read_csv().values 실행하면  matrix 리턴됨

In [3]:
# Load Kaggle Data as matrix
train_csv_data = pd.read_csv('./titanic_train.csv').values
test_csv_data = pd.read_csv('./titanic_test.csv').values
test_csv_sub = pd.read_csv('./titanic_gender_submission.csv').values

print('train_csv_data.shape = ', train_csv_data.shape, ', type(train_csv_data) = ', type(train_csv_data))
print('test_csv_data.shape = ', test_csv_data.shape, ', type(test_csv_data) = ', type(test_csv_data))
print('test_csv_sub.shape = ', test_csv_sub.shape, ', type(test_csv_sub) = ', type(test_csv_sub))

print('\n', train_csv_data[0], '\n')

# 각 column 내용 확인
for column_index in range(len(train_csv_data[0])):
    
    print('value = ', train_csv_data[0, column_index], ', type(column) = ', type(train_csv_data[0, column_index]))

train_csv_data.shape =  (891, 12) , type(train_csv_data) =  <class 'numpy.ndarray'>
test_csv_data.shape =  (418, 11) , type(test_csv_data) =  <class 'numpy.ndarray'>
test_csv_sub.shape =  (418, 2) , type(test_csv_sub) =  <class 'numpy.ndarray'>

 [1 0 3 'Braund, Mr. Owen Harris' 'male' 22.0 1 0 'A/5 21171' 7.25 nan 'S']

value =  1 , type(column) =  <class 'int'>
value =  0 , type(column) =  <class 'int'>
value =  3 , type(column) =  <class 'int'>
value =  Braund, Mr. Owen Harris , type(column) =  <class 'str'>
value =  male , type(column) =  <class 'str'>
value =  22.0 , type(column) =  <class 'float'>
value =  1 , type(column) =  <class 'int'>
value =  0 , type(column) =  <class 'int'>
value =  A/5 21171 , type(column) =  <class 'str'>
value =  7.25 , type(column) =  <class 'float'>
value =  nan , type(column) =  <class 'float'>
value =  S , type(column) =  <class 'str'>